.place__like-button{
    background-image: url('../../../images/like.svg');
    background-size: cover;
    width: 20.76px;
    height: 18.13px;
    border: none;
    background-color: transparent;
    transition: 0.5s ease-in-out;

}

.place__like-button:hover{
    background-image: url('../../../images/like-hover.svg');
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
