.modal__close-button{
    background-image: url('../../../images/close-icon.svg');
    background-position: center;
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: -47px;
    right: -47px;
    transition: 0.5s ease-in-out;
}

.modal__close-button:hover{
    opacity: 0.6;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
