@import url('./__content/modal__content.css');
@import url('./__edit-form/modal__edit-form.css');
@import url('./__heading/modal__heading.css');
@import url('./__close-button/modal__close-button.css');
@import url('./__input/modal__input.css');
@import url('./__input/_invalide/modal__input_invalide.css');
@import url('./__submit-button/modal__submit-button.css');
@import url('./__load-button-text/modal__load-button-text.css');
@import url('./__submit-button/_disabled/modal__submit-button_disabled.css');
@import url('./__content-photo/modal__content-photo.css');
@import url('./__photo/modal__photo.css');
@import url('./__photo-title/modal__photo-title.css');
@import url('./__error-message/modal__error-message.css');
@import url('./__error-message/_visible/modal__error-message_visible.css');
@import url('./__overlay/modal__overlay.css');
@import url('./__confirm-form/modal__confirm-form.css');
@import url('./__confirm-button/modal__confirm-button.css');
@import url('./__tooltip-message/modal__tooltip-message.css');
@import url('./__tooltip-pic/modal__tooltip-pic.css');
@import url('./__tooltip-pic/_type/modal__tooltip-pic_type_succes.css');
@import url('./__tooltip-pic/_type/modal__tooltip-pic_type_error.css');



.modal{
    font-family: 'Inter', Arial, sans-serif;    
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
    
