.place__trash{
    background-image: url('../../../images/trash.svg');
    background-size: cover;
    width: 18px;
    height: 19.3px;
    border: none;
    background-color: transparent;
    transition: 0.5s ease-in-out;
    position: absolute;   
    right: 15px;
    top: 18px;
}

.place__trash:hover{
    background-image: url('../../../images/trash-hover.svg');
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
